/*material.css*/
.jingai-icon{
  background:url(http://fgowiki.com/fgo/material/plate.jpg) center no-repeat;
  background-size:63px 63px;
}
.xionggu-icon{
  background:url(http://fgowiki.com/fgo/material/bone.jpg) center no-repeat;
  background-size:63px 63px;
}
.longya-icon{
  background:url(http://fgowiki.com/fgo/material/tooth.jpg) center no-repeat;
  background-size:63px 63px;
}
.powder-icon{
  background:url(http://fgowiki.com/fgo/material/powder.jpg) center no-repeat;
  background-size:63px 63px;
}
.chain-icon{
  background:url(http://fgowiki.com/fgo/material/chain.jpg) center no-repeat;
  background-size:63px 63px;
}
.walnut-icon{
  background:url(http://fgowiki.com/fgo/material/walnut.jpg) center no-repeat;
  background-size:63px 63px;
}
.lamp-icon{
  background:url(http://fgowiki.com/fgo/material/lamp.jpg) center no-repeat;
  background-size:63px 63px;
}
.cluster-icon{
  background:url(http://fgowiki.com/fgo/material/cluster.jpg) center no-repeat;
  background-size:63px 63px;
}
.snake-icon{
  background:url(http://fgowiki.com/fgo/material/snake.jpg) center no-repeat;
  background-size:63px 63px;
}
.feather-icon{
  background:url(http://fgowiki.com/fgo/material/feather.jpg) center no-repeat;
  background-size:63px 63px;
}
.lamp-icon{
  background:url(http://fgowiki.com/fgo/material/lamp.jpg) center no-repeat;
  background-size:63px 63px;
}
.gear-icon{
  background:url(http://fgowiki.com/fgo/material/gear.jpg) center no-repeat;
  background-size:63px 63px;
}
.paper-icon{
  background:url(http://fgowiki.com/fgo/material/paper.jpg) center no-repeat;
  background-size:63px 63px;
}
.potion-icon{
  background:url(http://fgowiki.com/fgo/material/potion.jpg) center no-repeat;
  background-size:63px 63px;
}
.clevis-icon{
  background:url(http://fgowiki.com/fgo/material/clevis.jpg) center no-repeat;
  background-size:63px 63px;
}
.badge-icon{
  background:url(http://fgowiki.com/fgo/material/badge.jpg) center no-repeat;
  background-size:63px 63px;
}
.shell-icon{
  background:url(http://fgowiki.com/fgo/material/shell.jpg) center no-repeat;
  background-size:63px 63px;
}
.claw-icon{
  background:url(http://fgowiki.com/fgo/material/claw.jpg) center no-repeat;
  background-size:63px 63px;
}
.claw1-icon{
  background:url(http://fgowiki.com/fgo/material/claw1.jpg) center no-repeat;
  background-size:63px 63px;
}
.heart-icon{
  background:url(http://fgowiki.com/fgo/material/heart.jpg) center no-repeat;
  background-size:63px 63px;
}
.root-icon{
  background:url(http://fgowiki.com/fgo/material/root.jpg) center no-repeat;
  background-size:63px 63px;
}
.jiao-icon{
  background:url(http://fgowiki.com/fgo/material/jiao.jpg) center no-repeat;
  background-size:63px 63px;
}
.tears-icon{
  background:url(http://fgowiki.com/fgo/material/tears.jpg) center no-repeat;
  background-size:63px 63px;
}
.fat-icon{
  background:url(http://fgowiki.com/fgo/material/fat.jpg) center no-repeat;
  background-size:63px 63px;
}
.deng-icon{
  background:url(http://fgowiki.com/fgo/material/deng.jpg) center no-repeat;
  background-size:63px 63px;
}
.gem-icon{
  background:url(http://fgowiki.com/fgo/material/gem.jpg) center no-repeat;
  background-size:63px 63px;
}
.cup-icon{
  background:url(http://fgowiki.com/fgo/material/cup.jpg) center no-repeat;
  background-size:63px 63px;
}
.cubes-icon{
  background:url(http://fgowiki.com/fgo/material/cubes.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere01-icon{
  background:url(http://fgowiki.com/fgo/material/sphere01.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere02-icon{
  background:url(http://fgowiki.com/fgo/material/sphere02.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere03-icon{
  background:url(http://fgowiki.com/fgo/material/sphere03.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere04-icon{
  background:url(http://fgowiki.com/fgo/material/sphere04.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere05-icon{
  background:url(http://fgowiki.com/fgo/material/sphere05.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere06-icon{
  background:url(http://fgowiki.com/fgo/material/sphere06.jpg) center no-repeat;
  background-size:63px 63px;
}
.sphere07-icon{
  background:url(http://fgowiki.com/fgo/material/sphere07.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby01-icon{
  background:url(http://fgowiki.com/fgo/material/ruby01.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby02-icon{
  background:url(http://fgowiki.com/fgo/material/ruby02.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby03-icon{
  background:url(http://fgowiki.com/fgo/material/ruby03.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby04-icon{
  background:url(http://fgowiki.com/fgo/material/ruby04.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby05-icon{
  background:url(http://fgowiki.com/fgo/material/ruby05.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby06-icon{
  background:url(http://fgowiki.com/fgo/material/ruby06.jpg) center no-repeat;
  background-size:63px 63px;
}
.ruby07-icon{
  background:url(http://fgowiki.com/fgo/material/ruby07.jpg) center no-repeat;
  background-size:63px 63px;
}
.star01-icon{
  background:url(http://fgowiki.com/fgo/material/star01.jpg) center no-repeat;
  background-size:63px 63px;
}
.star02-icon{
  background:url(http://fgowiki.com/fgo/material/star02.jpg) center no-repeat;
  background-size:63px 63px;
}
.star03-icon{
  background:url(http://fgowiki.com/fgo/material/star03.jpg) center no-repeat;
  background-size:63px 63px;
}
.star04-icon{
  background:url(http://fgowiki.com/fgo/material/star04.jpg) center no-repeat;
  background-size:63px 63px;
}
.star05-icon{
  background:url(http://fgowiki.com/fgo/material/star05.jpg) center no-repeat;
  background-size:63px 63px;
}
.star06-icon{
  background:url(http://fgowiki.com/fgo/material/star06.jpg) center no-repeat;
  background-size:63px 63px;
}
.star07-icon{
  background:url(http://fgowiki.com/fgo/material/star07.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure1s-icon{
  background:url(http://fgowiki.com/fgo/material/figure1s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure2s-icon{
  background:url(http://fgowiki.com/fgo/material/figure2s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure3s-icon{
  background:url(http://fgowiki.com/fgo/material/figure3s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure4s-icon{
  background:url(http://fgowiki.com/fgo/material/figure4s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure5s-icon{
  background:url(http://fgowiki.com/fgo/material/figure5s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure6s-icon{
  background:url(http://fgowiki.com/fgo/material/figure6s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure7s-icon{
  background:url(http://fgowiki.com/fgo/material/figure7s.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure1g-icon{
  background:url(http://fgowiki.com/fgo/material/figure1g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure2g-icon{
  background:url(http://fgowiki.com/fgo/material/figure2g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure3g-icon{
  background:url(http://fgowiki.com/fgo/material/figure3g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure4g-icon{
  background:url(http://fgowiki.com/fgo/material/figure4g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure5g-icon{
  background:url(http://fgowiki.com/fgo/material/figure5g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure6g-icon{
  background:url(http://fgowiki.com/fgo/material/figure6g.jpg) center no-repeat;
  background-size:63px 63px;
}
.figure7g-icon{
  background:url(http://fgowiki.com/fgo/material/figure7g.jpg) center no-repeat;
  background-size:63px 63px;
}
